<<<<<<< HEAD
{% extends 'tbib.html.twig' %}
=======
{% extends 'base.html.twig' %}
>>>>>>> 9245021fbb87523cb7633316c1f0514e2a867ea5

{% block title %}Edit Test{% endblock %}

{% block body %}


    <!-- . 
    <h1>Dossier index</h1>.. -->
     <!-- ======= Departments Section ======= -->
    <section id="departments" class="departments">
      <div class="container">

        <div class="section-title">
          <h2>Departments</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Dépression</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Anxiété</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">TOC</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">TDAH</a>
              </li>
          
            </ul>
          </div>
          <div class="col-lg-9">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Depression </h3>
                    <p class="fst-italic">Ce quiz sur la dépression vise à évaluer l'état émotionnel des participants.</p>
                    <p>Il comprend des questions liées à l'humeur, aux pensées et aux comportements pour identifier les signes potentiels de dépression. Les résultats de ce quiz peuvent aider à déterminer si un individu pourrait bénéficier d'une consultation avec un professionnel de la santé mentale. Il est important de souligner que ce quiz ne remplace pas un diagnostic clinique, mais peut être un outil utile pour amorcer une discussion sur la santé mentale.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-1.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Anxiété</h3>
                    <p class="fst-italic"> Ce quiz évalue votre bien-être mental et émotionnel pour identifier les problèmes potentiels. </p>
                    <p> En répondant à une série de questions, ce quiz analyse différents aspects de votre vie, tels que le stress, l'anxiété et la dépression, pour vous aider à mieux comprendre votre état émotionnel et vous guider vers des solutions adaptées à votre situation.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>TOC</h3>
                    <p class="fst-italic">Ce quiz permet d'évaluer la présence de symptômes liés au TOC (trouble obsessionnel-compulsif) dans votre vie quotidienne.</p>
                    <p> En répondant à une série de questions spécifiques, ce quiz explore les différentes manifestations du TOC, telles que les obsessions et les compulsions, pour vous aider à mieux comprendre votre comportement et à identifier si vous pourriez être concerné par ce trouble, afin de vous orienter vers des solutions et des traitements adaptés.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-3.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>TDAH</h3>
                    <p class="fst-italic"> Ce quiz permet d'évaluer la présence de symptômes liés au TDAH (trouble du déficit de l'attention avec ou sans hyperactivité) dans votre vie quotidienne.</p>
                    <p> En répondant à une série de questions spécifiques, ce quiz explore les différentes manifestations du TDAH, telles que les difficultés d'attention, l'impulsivité et l'hyperactivité, pour vous aider à mieux comprendre votre comportement et à identifier si vous pourriez être concerné par ce trouble, afin de vous orienter vers des solutions et des traitements adaptés.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-4.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Departments Section -->




    <h1>Modifier Test</h1>

    {{ include('test/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_test_index') }}">Retour</a>

    {{ include('test/_delete_form.html.twig') }}
{% endblock %}
