{% extends 'back.html.twig' %}

{% block title %}New Conseil{% endblock %}

{% block body %}
    <h1>Création Conseil</h1>

    {{ include('conseil/_form.html.twig') }}

    <a href="{{ path('app_conseil_indexBack') }}">Retour</a>
{% endblock %}
