{% extends 'back.html.twig' %}

{% block title %}New Medicaments{% endblock %}

{% block body %}
    <h1>Create new Medicaments</h1>

    {{ include('medicaments/_form.html.twig') }}

    <a href="{{ path('app_medicaments_indexBack') }}">Retour</a>
{% endblock %}
