<form method="post" action="{{ path('app_pharmacie_delete', {'id': pharmacie.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pharmacie.id) }}">
    <button class="btn">Supprimer</button>
</form>
