{% extends 'back.html.twig' %}

{% block title %}New Pharmacie{% endblock %}

{% block body %}
    <h1>Création d'une Pharmacie</h1>

    {{ include('pharmacie/_form.html.twig') }}

    <a href="{{ path('app_pharmacie_indexBack') }}">Retour</a>
{% endblock %}
